node_modules
dist
mobile/app/build
mobile/.gradle
mobile/.keys
SyncWatch同步观影-Data
*.exe
!dist/
dist/*
!dist/SyncWatch-Android-v2.2.2-universal.apk
!dist/SyncWatch-Experience-Client-Portable-v2.2.2-x64.exe
*.zip
.git
